body{
  background-color: #4c4a4a;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;  
}

.card{
    background-color: black;
    padding: 6.5rem;
    border-radius: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card.span{
    font-size: 2rem;
}

input .text{
  color: white;
}
input[type=text] {
  background-color: #4c4a4a;
  outline: none;
  border: none;
  color: blanchedalmond;

}